http:
  # Global middlewares
  middlewares:
    # usage in docker-compose:
    # labels:
    # - "traefik.http.routers.MyRoute.middlewares=BasicAuth@file"
    # 
    # Generate password: openssl passwd -apr1
    BasicAuth:
      basicAuth:
        usersFile: "etc/traefik/.htpasswd"
    
    RedirectToHttps:
      redirectscheme:
        scheme: "https"
        permanent: true
