http:
  routers:
    NodeExporter:
      rule: 'Host(`{{ env "HOST_DOMAIN_NAME" }}`) && PathPrefix(`/node_exporter/metrics`)'
      service: "NodeExporter"
      middlewares:
        - ReplaceNodeExporterPath
  
  middlewares:
    ReplaceNodeExporterPath:
      replacePath:
        path: "/metrics"

  services:
    NodeExporter:
      loadBalancer:
        servers:
        - url: "http://172.17.0.1:9100"
